[Desktop Entry]
Name=Calculator (PySide6)
Name[ja]=電卓 (PySide6)
Comment=Normal calculator
Comment[ja]=通常の電卓
Keywords=calculation;arithmetic;
Keywords[ja]=calculation;算術;calculator;計算機;
Exec=/home/bitwalk/PycharmProjects/PySide6_sample/calculator.sh
Icon=/home/bitwalk/PycharmProjects/PySide6_sample/calculator.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;
X-Purism-FormFactor=Workstation;Mobile;
