appdirs
backports.tarfile
fqdn
importlib-metadata
importlib-resources
isoduration
jaraco.collections
jsonpointer
jupyterlab
mplfinance
openpyxl
pip-chill
pip-review
pyarrow
pyside6
pywavelets
scikit-image
scikit-learn
seaborn
tomli
uri-template
watchdog
webcolors
yfinance
